doctype html
head
	title #{titulo}
	meta(charset="utf-8")
	link(rel="stylesheet" href="./main.css")
body
	main
		h1 #{titulo}
		figure
			img(src=imagen)
			figcaption #{texto}
		ul
			each item in characters
				li 
					a(href="character/"+item.name) #{item.name} &nbsp; | &nbsp;